@media screen and (max-width: 1200px) {
  html {
    font-size: 13px; }
  .social {
    left: 1rem;
    margin-bottom: 5rem; } }

@media screen and (max-width: 992px) {
  .menu__nav {
    display: none; }
  .hero {
    margin-left: 1rem; }
  .info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .info__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .info__title {
      font-size: 2rem;
      margin: 0; }
    .info__text {
      font-size: 1rem;
      margin: 0; } }

@media screen and (max-width: 768px) {
  .contacts__phone {
    margin-right: 1rem; }
  .hero {
    margin-top: 5rem; }
    .hero__title {
      font-size: 3rem; }
    .hero__text {
      font-size: 1rem;
      max-width: 30rem; }
    .hero__button {
      margin-bottom: 13rem; }
  .social {
    display: none; } }

@media screen and (max-width: 576px) {
  .contacts__phone {
    display: none; }
  .hero {
    margin-top: 5rem; }
    .hero__title {
      width: 100%;
      font-size: 2rem; }
    .hero__text {
      font-size: 1rem;
      width: 65%; }
  .numbers {
    height: 340px; }
  .video {
    min-width: 20.285rem;
    min-height: 14.785rem; }
    .video__play {
      width: 70px;
      height: 70px; } }

@media screen and (max-width: 385px) {
  .header {
    background-position: top left; }
  .logo__title {
    display: none; }
  .hero__title {
    font-size: 1.8em; }
  .hero__text {
    width: 100%; }
  .hero__button {
    margin-bottom: 1rem; }
  .info {
    display: none; } }
