.button 
  border-radius: 22px
  background-color: $primary
  border: none
  cursor: pointer
  max-width: 219px
  color: $light
  font-weight: 500
  line-height: 2.8rem
  &:hover 
    box-shadow: 0 0 10px rgba($primary, 0.5)