.button 
  border-radius: 22px
  background-color: $primary
  border: none
  cursor: pointer
  max-width: 219px
  color: $light
  font-weight: 500
  line-height: 2.8rem
  &:hover 
    box-shadow: 0 0 12px rgba($primary, 0.7)
.label 
  font-size: 1.125rem
  font-weight: 300
  line-height: 18.72px
  text-transform: uppercase
  margin-bottom: 0.5rem
.input 
  border: none
  border-bottom: 1px solid #939497
  padding-bottom: 5px
  &-group 
    display: flex
    flex-direction: column
    margin-bottom: 21px
    position: relative
  &::placeholder 
    font-size: 1.125rem
    font-weight: 300
    line-height: 35px

.modal__form div 
  &.invalid 
    color: tomato
    position: absolute
    left: 0
    top: 3.4rem
    font-size: 0.7rem
.price__form div 
  &.invalid 
    color: tomato
    position: absolute
    left: 0
    top: 3.4rem
    font-size: 0.9rem
.questions__form div 
  &.invalid 
    color: $light
    position: absolute
    left: 0
    top: 3.4rem
    font-size: 0.9rem
.scroll-top
  &__btn 
    position: fixed
    display: none
    right: 5px
    bottom: 10px
    background: url(../img/scroll-top.svg) no-repeat center
    width: 40px
    height: 40px
    border: 2px solid $primary
    border-radius: 50%
    text-transform: uppercase
    color: $light
    text-decoration: none
    z-index: 999