@media screen and (max-width: 1200px) 
  html 
    font-size: 13px
  .social 
    left: 1rem
    margin-bottom: 5rem
  .reviews 
    &__feedback 
      max-width: 57rem
      margin: auto

@media screen and (max-width: 992px) 
  .menu 
    &__nav 
      display: none
  .hero 
    margin-left: 1rem
  .info 
    flex-wrap: wrap
    &__item 
      flex-basis: 50%
    &__title
      font-size: 2rem
      margin: 0
    &__text 
      font-size: 1rem
      margin: 0
  .wpar__advantages 
    justify-content: space-around
  .advantages 
    &__card 
      flex-basis: 35%
      margin-left: 5%
      margin-right: 5%
  .services 
    background-size: cover
    background-position: center center
    &__card 
      flex-basis: 45%
  .price 
    &__wrap 
      background: none
    &__wrap-form 
      margin: auto
      max-width: 550px
      width: 100%
      padding: 0 1rem 4.8rem 1rem
    &__title 
      margin-left: 0
    &__button 
      margin-left: 0
  .reviews 
    &__feedback 
      font-size: 1rem
      line-height: 2rem
@media screen and (max-width: 768px) 
  .contacts 
    &__phone 
      margin-right: 1rem
  .hero 
    margin-top: 5rem
    &__title 
      font-size: 3rem
    &__text 
      font-size: 1rem
      max-width: 30rem  
    &__button 
      margin-bottom: 13rem
  .social 
    display: none
  .wrap__services 
    flex-direction: column
    align-items: center
  .services 
    &__card 
      max-width: 22.187rem
  .cases 
    &__wrap 
      justify-content: center
    &__statistic 
      display: none
  .news 
    &__swiper-container 
      height: 500px
    &__swiper-button-prev, &__swiper-button-next 
      bottom: 4rem

@media screen and (max-width: 576px) 
  .contacts 
    &__phone 
      display: none
  .hero 
    margin-top: 5rem
    &__title 
      width: 100%
      font-size: 2rem
    &__text
      font-size: 1rem
      width: 65%
  .numbers
    height: 340px
  .video
    min-width: 20.285rem
    min-height: 14.785rem
    &__play 
      width: 70px
      height: 70px
  .advantages 
    &__card 
      flex-basis: 100%
  .cases 
    &__title 
      margin-bottom: 0.5rem
    &__text
      font-size: 1rem
    &__item 
      font-size: 1rem
    &__subtitle 
      &:nth-of-type(n+2) 
        margin-top: 1rem
    &__swiper-button-prev, &__swiper-button-next 
      --swiper-navigation-size: 2rem
  .reviews 
    &__swiper-button-prev, &__swiper-button-next 
      top: 18.5rem
      --swiper-navigation-size: 2rem
  .news 
    display: none

@media screen and (max-width: 385px) 
  .header 
    background-position: top left
  .logo 
    &__title 
      display: none
  .hero 
    &__title 
      font-size: 1.8em
    &__text 
      width: 100%
    &__button 
      margin-bottom: 1rem
  .info 
    display: none
  .reviews 
    background: $light
    &__wrap 
      padding: 1rem
      height: 28rem