.burger-menu 
  display: none
  &__button 
    position: fixed 
    top: 2rem
    right: 1rem
    z-index: 30
    width: 42px
    height: 42px
    transition: 0.4s
  &__lines, &__lines::after, &__lines::before 
    position: absolute
    width: 25px
    height: 3px
    border-radius: 10px
    background-color: $primary
  &__lines 
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &__lines::before 
    content: ''
    top: -7px
  &__lines::after 
    content: ''
    top: 7px
  &--active &__button, &--active &__lines 
    background-color: transparent
  &--active &__lines::before 
    top: 0
    transform: rotate(45deg)
  &--active &__lines::after 
    top: 0
    transform: rotate(-45deg)
  &--active &__nav 
    right: 0
  &--active &__overlay 
    visibility: visible
    background-color: rgba($dark, 0.5)
  &__nav 
    padding-top: 2.2rem
    padding-right: 5rem
    position: fixed
    z-index: 20
    display: flex
    flex-direction: column
    background-color: $light
    height: 100%
    right: -100%
  &__link 
    color: #38393b
    text-transform: uppercase
    font-weight: 300
    line-height: 2.333rem
    margin-left: 1.363rem
    display: inline-block
    position: relative
    &::after 
      content: ''
      position: absolute
      top: 2rem
      left: 50%
      transform: translateX(-50%)
      display: block
      width: 0%
      height: 2px
      transition: width 0.3s ease-in-out
    &:hover::after 
      background-color: $primary
      width: 75%
  &__overlay 
    visibility: hidden
    position: fixed
    top: 0
    right: 0
    height: 100%
    width: 100%
    z-index: 10